In [2]:
import numpy as np
import pandas as pd
import scipy.stats as ss
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'Meiryo'
#plt.rcParams['font.family'] = 'Hiragino Sans' # for macOS

In [3]:
df = pd.read_csv("j_points.csv",delimiter=",",encoding="UTF-8")
display(df.head()) 
print(df.dtypes) 
print(df.shape)
display(df.head())

,team,cross_point,goal_point,shoot_point,dribble_point,pass_point,attack
0,横浜F・マリノス,25.45,47.98,84.18,11.70,143.10,180.25
1,浦和レッズ,22.88,23.71,77.92,11.09,112.26,146.23
2,アビスパ福岡,21.06,8.56,43.92,11.93,78.90,111.90
3,鹿島アントラーズ,18.57,35.24,74.36,15.67,106.93,141.17
4,サガン鳥栖,17.72,20.37,37.50,6.85,111.70,136.28

team              object
cross_point      float64
goal_point       float64
shoot_point      float64
dribble_point    float64
pass_point       float64
attack           float64
dtype: object
(18, 7)

,team,cross_point,goal_point,shoot_point,dribble_point,pass_point,attack
0,横浜F・マリノス,25.45,47.98,84.18,11.70,143.10,180.25
1,浦和レッズ,22.88,23.71,77.92,11.09,112.26,146.23
2,アビスパ福岡,21.06,8.56,43.92,11.93,78.90,111.90
3,鹿島アントラーズ,18.57,35.24,74.36,15.67,106.93,141.17
4,サガン鳥栖,17.72,20.37,37.50,6.85,111.70,136.28

In [4]:
df.corr()

C:\Users\iniad\AppData\Local\Temp\ipykernel_8632\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,cross_point,goal_point,shoot_point,dribble_point,pass_point,attack
cross_point,1.000000,0.193953,0.533690,0.369150,0.410899,0.548823
goal_point,0.193953,1.000000,0.392526,-0.108048,0.371546,0.349707
shoot_point,0.533690,0.392526,1.000000,0.465876,0.672625,0.731567
dribble_point,0.369150,-0.108048,0.465876,1.000000,0.211906,0.352793
pass_point,0.410899,0.371546,0.672625,0.211906,1.000000,0.981824
attack,0.548823,0.349707,0.731567,0.352793,0.981824,1.000000

In [5]:
import scipy
from scipy import linalg

def cor2pcor(R):
    inv_cor = linalg.inv(R)
    rows = inv_cor.shape[0]
    regu_1 = 1 / np.sqrt(np.diag(inv_cor))
    regu_2 = np.repeat(regu_1, rows).reshape(rows, rows)
    pcor = (-inv_cor) * regu_1 * regu_2
    np.fill_diagonal(pcor, 1)
    return pcor
pcor = pd.DataFrame(cor2pcor(df.corr()), columns=df.corr().columns, index=df.corr().index)
display(pcor)

C:\Users\iniad\AppData\Local\Temp\ipykernel_8632\824633678.py:12: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  pcor = pd.DataFrame(cor2pcor(df.corr()), columns=df.corr().columns, index=df.corr().index)

,cross_point,goal_point,shoot_point,dribble_point,pass_point,attack
cross_point,1.000000,-0.007854,0.315447,-0.999996,-0.999999,0.999999
goal_point,-0.007854,1.000000,0.309156,-0.008622,-0.007871,0.007902
shoot_point,0.315447,0.309156,1.000000,0.315922,0.315186,-0.315039
dribble_point,-0.999996,-0.008622,0.315922,1.000000,-0.999998,0.999998
pass_point,-0.999999,-0.007871,0.315186,-0.999998,1.000000,1.000000
attack,0.999999,0.007902,-0.315039,0.999998,1.000000,1.000000